[submodule "contracts/sniper-bot/lib/forge-std"]
	path = contracts/sniper-bot/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "contracts/uniswapV3-clone/lib/forge-std"]
	path = contracts/uniswapV3-clone/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
